main{
  background-color: darkgrey;
  height: calc(100% - 80px);
  .albumBox{
  margin-left: 100px;
  margin-right: 100px;
  .album{
    margin-top: 30px;
    margin-right: 20px;
    width: 300px;
    background-color: black;
    color: white;
    display: inline-block;
    img{
      width: 100%;
    }
  }
 }
}
