main{
  background-color: darkgrey;
  height: calc(100vh - 80px);
  .album{
    margin-top: 30px;
    padding-right: 20px;
    width: 300px;
    float: right;
    background-color: black;
    color: white;
    display: inline-block;
    img{
      width: 100%;
    }
  }
}
